/*------------------breadscrum--------------*/

.breadscrum {
    margin: 0px 80px 30px 80px;
    font-size: 25px;
    color: black;
    display: flex;
    justify-content: space-between;
}

.abc a:hover {
    color: #424242;
}

/*phần container*/
.container {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    height: auto;
}

.sidebar_one {
    width: 15%;
    box-sizing: border-box;
    text-align: center;
}

.show {
    border: #e6e6e6 solid 1px;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.show li {
    list-style: none;
    margin-top: 20px;
}

.row_2 {
    margin-top: 30px;
}

.show1 {
    border: #e6e6e6 solid 1px;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.show1 ul {
    margin-left: 0px;
}

.show1 li {
    list-style: none;
    margin-top: 25px;
    color: #6e6e6e;
}

/*sidebar_two*/

.sidebar_two {
    box-sizing: border-box;
    width: 85%;
}

.sanpham {
    width: 100%;
    background-color: white;
    margin: 0px auto;
}

.sanpham_show {
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

.sanpham_show a {
    background-color: transparent;
    border: 1px solid #dbcea7;
    margin: 10px;
    border-radius: 4px;
}

.sanpham_show a img {
    margin: 12px;
}

.sanpham_gia {
    box-sizing: border-box;
    border-top: 2px solid #dbcea7;
    border-radius: 2px;
    outline: none;
    text-align: center;
    padding-top: 5px;
    line-height: 1.7;
}

.sanpham_show.sanpham_gia.sanpham_ten {
    font-size: 30px;
}

.sanpham_gia1 {
    font-weight: 700;
    margin-top: 8px;
    color: coral;
}

.show input[type="button"] {
    width: 50px;
}

.sanpham_click {
    background-color: coral;
    margin-top: 8px;
    margin-left: 50px;
    max-width: 100px;
    color: #fff;
    font-weight: 400;
    border-radius: 5px;
    padding: 3px 10px;
    text-align: center;
}

.sanpham_show img {
    width: 220px;
    height: 250px;
    margin: auto;
}
