/*giới thiệu*/
.gioithieu {
    margin: 60px 80px 0px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.gioithieu_column_one {
    flex-basis: 45%;
}

.gioithieu_column_two {
    flex-basis: 45%;
}
.gioithieu_column_two h2 {
    margin-top: 70px;
    padding-bottom: 45px;
    font-size: 50px;
}
.gioithieu_column_two span {
    font-size: 18px;
    color: #848484;
}
@media (min-width: 740px) {
    .gioithieu {
        flex-direction: row;
    }
}

/*section content*/
.section_content {
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
}
.section_item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.section_child {
    flex-basis: 22%;
    height: 120px;
}
.section_child span {
    color: #6e6e6e;
}

/*section_img*/

@media (max-width: 740px) {
    .gioithieu {
        margin: 60px 0px 0px 0px;
    }
    .section_item {
        flex-wrap: wrap;
    }
}
